.contenedor {
  text-align: center;
  color: white;
  background-color: black;
  padding: 20px;
}

.tarjeta {
  --ion-background-color: rgb(3, 3, 3);
  --ion-text-color: #ffffff;
  border: 2px solid #8f0000;
  border-radius: 8px;
}

.titulo,
.subtitulo {
  color: rgb(255, 255, 255);
}

.imagen-juego {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
}

.encabezado {
  color: rgb(134, 2, 2);
  padding-top: 10px;
  padding-bottom: 2px;
}