<!-- Encabezado de personajes -->
<app-header titulo="Personajes"></app-header>
<!-- Contenido del módulo de personajes -->
<ion-content class="contenido">
    <!-- Div contenedor con un for que itera personajesBD y crea una tarjeta por cada personaje que encuentre -->
  <div class="contenedor" *ngFor="let personaje of personajesBD">
    <!-- Tarjeta que contiene información del personaje, al hacerle clic aparece el modal con detalles de los personajes -->
    <ion-card (click)="verDetalleP(personaje.id)" class="tarjeta">
      <img [src]="personaje.data.foto" class="imagen-personaje"/>
      <ion-card-header>
        <ion-card-title class="titulo">{{personaje.data.nombre}}</ion-card-title>
        <ion-card-subtitle class="subtitulo">Ver más</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
