.contenido {
  --ion-background-color: rgb(3, 3, 3);
}

.contenedor {
  text-align: center;
  color: white;
  background-color: black;
  padding: 20px;
}

.tarjeta {
  --ion-background-color: rgb(3, 3, 3);
  --ion-text-color: #ffffff;
  border: 2px solid #8f0000;
  border-radius: 8px;
}

.titulo {
  color: rgb(255, 255, 255);
}

.subtitulo {
  color: rgb(185, 0, 0);
}

.imagen-personaje {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
}