<!-- Encabezado -->
<app-header titulo="Historia"></app-header>

<!-- Contenido del módulo historia -->
<ion-content>
  <!-- Contenedor que itera sobre partesHistoria y genera una tarjeta por cada elemento -->
  <div class="contenedor" *ngFor="let historia of partesHistoria">
    <!-- Tarjeta que muestra el modal al hacer clic -->
    <ion-card (click)="verDetalleHistoria(historia.id)" class="tarjeta">
      <img [src]="historia.data.imagen" class="imagen-juego" />
      <!-- Tarjeta con el titulo y subtitulo de historia -->
      <ion-card-header>
        <ion-card-title class="titulo">{{historia.data.titulo}}</ion-card-title>
        <ion-card-subtitle class="subtitulo">{{historia.data.subtitulo}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
