<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar style="--ion-background-color: rgb(163, 0, 0); --ion-text-color: #ffffff;">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="--ion-background-color: rgb(0, 0, 0); --ion-text-color: #ffffff;">
      <ion-list>
        <ion-item routerLink="/historia">Historia</ion-item>
        <ion-item routerLink = "/personajes">Personajes</ion-item>
        <ion-item routerLink = "/mecanicas">Mecánicas</ion-item>
        <ion-item routerLink = "/items">Items</ion-item>
        <ion-item routerLink = "/clasificacion">Clasificación</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id = "main"></ion-router-outlet>
</ion-app>