<app-header titulo="comunidad"></app-header>

<ion-content>
  <div class="contenedor">
    <!-- Formulario para enviar comentarios -->
    <form (submit)="enviarComentario()">
      <ion-card class="tarjeta">
        <ion-card-title class="titulo">¡Haz un comentario!</ion-card-title>
      </ion-card>
      <ion-card class="tarjeta">
        <ion-card class="tarjeta2">
          <ion-label>Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
        </ion-card>
        <ion-card class="tarjeta2">
          <ion-label>Comentario</ion-label>
          <ion-textarea [(ngModel)]="comentario" name="comentario" required></ion-textarea>
        </ion-card>
        <ion-button expand="block" type="submit" class="boton">Enviar</ion-button>
      </ion-card>
    </form>

    <!--Lista de comentarios-->
    <ion-card class="tarjeta">
      <ion-card-title class="titulo">Comentarios</ion-card-title>
        <ion-list>
          <ion-card class="tarjeta2" *ngFor="let mensaje of mensajes">
            <ion-card-title class="encabezado">{{mensaje.data.nombre}} :</ion-card-title>
            <ion-card-content class="titulo">{{mensaje.data.comentario}}</ion-card-content>
          </ion-card>
        </ion-list>
    </ion-card>
  </div>
</ion-content>