<app-header titulo="Clasificación"></app-header>

<!-- Contenido del módulo clasificación -->
<ion-content>
    <!-- Contenedor que itera sobre clasificacion y genera una tarjeta por cada elemento -->
    <div class="contenedor" *ngFor="let clasif of clasificacion">
        <!-- Tarjeta que muestra los datos iterados -->
        <ion-card class="tarjeta">
            <!-- Tarjeta con la clasificación -->
            <ion-card-header>
                <ion-card-title class="encabezado">{{clasif.data.nombre}}</ion-card-title>
                <ion-card-subtitle class="subtitulo">{{clasif.data.clasificacion}}</ion-card-subtitle>
                <ion-card-content>
                    <h5 class="subtitulo">{{clasif.data.descripcion}}</h5>
                </ion-card-content>
            </ion-card-header>
        </ion-card>
        <!-- Trajeta con información de que es la clasificacion -->
        <ion-card class="tarjeta">
            <ion-card-header>
                <ion-card-title class="encabezado">¿Qué es la clasificación ESRB?</ion-card-title>
                <ion-card-content>
                    <h5 class="subtitulo">{{clasif.data.concepto}}</h5>
                </ion-card-content>
            </ion-card-header>
        </ion-card>
    </div>
</ion-content>