.contenedor {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    width: auto;
    height: auto;
  }
  
  .tarjeta {
    --ion-background-color: rgb(3, 3, 3);
    --ion-text-color: #ffffff;
    border: 2px solid #8f0000;
    border-radius: 8px;
  }

  .tarjeta2 {
    --ion-background-color: rgb(3, 3, 3);
    --ion-text-color: #ffffff;
    border: 2px solid #707070;
    border-radius: 8px;
  }
  
  .titulo, .subtitulo {
    color: rgb(255, 255, 255);
  }
  
  .encabezado {
    color:#8f0000
  }
