<!-- Encabezado de modal con función para cerrar -->
<ion-toolbar>
  <ion-title>Detalles</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="regresar()">Cerrar</ion-button>
  </ion-buttons>
</ion-toolbar>
<!-- Contenido del modal -->
<ion-content class="contenido-modal">
  <!-- Tarjeta de titulo y subtitulo -->
  <ion-card class="tarjeta-historia">
    <ion-card class="tarjeta-partes-historia">
      <ion-card-title>{{partesHistoria.titulo}}</ion-card-title>
      <ion-card-subtitle>{{partesHistoria.subtitulo}}</ion-card-subtitle>
    </ion-card>
    <!-- Tarjeta para mostrar los titulos y textos -->
    <ion-card class="tarjeta-partes-historia">
      <div>
        <h2>{{partesHistoria.titulo1}}</h2>
        <h5>{{partesHistoria.texto1}}</h5>
      </div>
      
      <div *ngIf="partesHistoria?.titulo2 !== 'null'">
        <h2>{{partesHistoria.titulo2}}</h2>
        <h5>{{partesHistoria.texto2}}</h5>
      </div>
      
      <div *ngIf="partesHistoria?.titulo3 !== 'null'">
        <h2>{{partesHistoria.titulo3}}</h2>
        <h5>{{partesHistoria.texto3}}</h5>
      </div>
    </ion-card>
  </ion-card>
</ion-content>
